.textbox{
  width: 100%;
  height: 50px;
  border: 1px solid #999;
  background-color: #eee;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0;
}

.textbox:hover{
  background-color: #ddd;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;    
}


button {
  width: 100%;
  height: 50px;
  border: 1px solid #999;
  background-color: #eee;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0;
}

button:hover {
  background-color: #ddd;
}
